.show-categories {
    padding: 6.5px 13px;
    background-color: var(--background-categorise-button);
    display: flex;
    color: var(--primal-color);
    border: 1px solid #4440F7;
    border-radius: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    text-transform: capitalize;
    transition: background-color 0.5s;
}

.open-categories {
    padding: 6.5px 13px;
    padding-right: 37px;
    background-color: var(--background-categorise-button);
    display: flex;
    color: var(--primal-color);
    border: 1px solid #4440F7;
    border-radius: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    position: relative;
    text-transform: capitalize;
    transition: background-color 0.5s;
}

.open-categories:hover {
    background-color: var(--primal-color);
    color: var(--white);
    transition: background-color 0.5s;
}

.open-categories:hover::after {
    background-color: var(--white);
}

.open-categories:hover::before {
    background-color: var(--white);
}

.open-categories::after {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    background-color: var(--primal-color);
    transform: rotate(-45deg) translate(0%, -50%);
    position: absolute;
    right: 17px;
    top: 50%;
    transition: transform 0.5s;
}

.open-categories::before {
    content: '';
    display: block;
    width: 9px;
    height: 2px;
    background-color: var(--primal-color);
    transform: rotate(45deg) translate(0%, -50%);
    position: absolute;
    right: 13px;
    top: 50%;
    transition: transform 0.5s;
}

.open-list-filter::after {
    transform: rotate(45deg) translate(0%, 50%);
    transition: transform 0.5s;
}

.open-list-filter::before {
    transform: rotate(-45deg) translate(0%, 50%);
    transition: transform 0.5s;
}


.filter-list {
    font-family: 'Manrope';
    background-color: var(--white);
    width: 148px;
    font-size: 12px;
    border-radius: 20px;
    color: var(--primal-color);
    padding: 0px 14px 0px 14px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.01em;
    overflow: auto;
    position: absolute;
    height: 0;
    transition: height 0.5s, padding 0.5s, visibility 0.45s;
    z-index: 4;
    top: 100%;
    visibility: hidden;
}

.filter-list.is-open-filter-list {
    height: 380px;
    padding: 14px;
    visibility: visible;
    transition: height 0.5s, padding 0.5s, visibility 0.45s
}

.filter-list>li:not(:last-child) {
    margin-bottom: 12px;

}

.filter-list>li>span {
    cursor: pointer;
    display: inline;
}

.filter-list>li>span:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--primal-color);
}

.how-categories-list {
    display: flex;
}

.how-categories-list>li {
    margin-right: 16px;
}

.select-categories-search {
    background-color: var(--primal-color);
    color: var(--white);
}

.select-categories-search::after {
    background-color: var(--white);
}

.select-categories-search::before {
    background-color: var(--white);
}

/*TABLET*/
/*TABLET*/
@media screen and (min-width: 768px) {
    .filter-list {
        margin-left: 332px;
    }
}

/*TABLET*/
/*TABLET*/


/*DESCTOP*/
/*DESCTOP*/
@media screen and (min-width: 1200px) {
    .filter-list {
        margin-left: 515px;
    }
}

/*DESCTOP*/
/*DESCTOP*/