.weather {
    width: 288px;
    height: 469px;
    background-color: var(--primal-color);
    font-size: 32px;
    padding: 40px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
    border-radius: 4px;
    color: white;

}

.city-data {
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-and-status {
    position: relative;
}

.city-and-status::after {
    content: '';
    position: absolute;
    top: 0;
    left: -7px;
    display: block;
    background-color: white;
    width: 1px;
    height: 100%;
}

.temperature {
    font-size: 46px;
    display: flex;
    position: relative;
    margin-right: 16px;

}

.weather-status::first-letter {
    text-transform: uppercase;
}

.city-name {
    font-size: 20px;
    background-color: #FEFEFF4D;
    display: flex;
    max-width: 160px;
    padding: 7px;
    border-radius: 10px;
}

.city-name::before {
    content: '';
    display: block;
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-image: url('../../img/svg/location.svg');
}

.icon-weather {
    width: 165px;
    height: 156px;
}

.weather>p {
    text-align: center;
}

/*TABLET*/
/*TABLET*/
@media screen and (min-width: 768px) {
    .weather {
        width: 353px;
        height: 675px;
    }

    .city-data {
        margin-bottom: 89px;
    }

    .icon-weather {
        margin-bottom: 90px;
    }
}

/*TABLET*/
/*TABLET*/

/*DESCTOP*/
/*DESCTOP*/
@media screen and (min-width: 1280px) {
    .weather {
        width: 395px;
        height: 675px;
    }

    .city-data {
        margin-bottom: 89px;
    }

    .icon-weather {
        margin-bottom: 90px;
    }
}

/*DESCTOP*/
/*DESCTOP*/