.news {
    padding-top: 24px;
}

.calendar_button {
    position: relative;
    width: 152px;
    height: 31px;
    border: 1px solid var(--border-form);
    border-radius: 20px;
    background-image: url(../../img/svg/calendar.svg);
    background-repeat: no-repeat;
    background-position: 12px 5px;
    padding-left: 44px;
    display: flex;
    align-items: center;
    position: relative;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0.02em;
    padding-right: 12px;
    transition: background-image 0.5s, background-color 0.5s,
}

.date-button {
    opacity: 0.4;
    transform: opacity 0.5s;
}

.calendar_button:hover {
    background-image: url(../../img/svg/calendar-withe.svg);
    background-color: var(--primal-color);
    border-color: var(--primal-color);
    color: var(--white);
    transition: background-image 0.5s, background-color 0.5s;

}

.calendar_button:hover::after {
    background-color: var(--white);
}

.calendar_button:hover .date-button {
    opacity: 1;
    transform: opacity 0.5s;
}

.calendar_button::after {
    content: '';
    width: 15px;
    height: 9px;
    display: block;
    -webkit-mask-image: url(../../img/svg/arrow_down.svg);
    background-color: #A2A2A2;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-left: auto;
    transition: transform 0.5s, margin-top 0.5s;
}

.calendar_button.isOpenButton::after {
    transform: matrix(1.00, 0.00, 0.00, -1.00, 0, 0);
    margin-top: -2px;
    transition: transform 0.5s, margin-top 0.5s;
}

.button-box {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.calender-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 24.59px;
    margin-left: auto;
    margin-right: 37px;
}

@media screen and (min-width: 1280px) {
    .calender-text {
        display: block;
    }
}