.modal-container {
    position: absolute;
    top: -200%;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    z-index: 1000;
}

.modal-container.is-Open {
    top: 0;

}

.modal {
    width: 320px;
    padding-top: 125px;
}

.navigations-box {
    height: 44px;
    width: 100%;
    margin-bottom: 16px;

}

.navigations-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 62px;
    height: 44px;
    color: var(--darl-text);

}

.navigations-btn.active::after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    -webkit-mask-image: url(../../img/svg/chevron-right.svg);
    background-color: var(--shevron-color);
    transition: all 0.5s;
}

.navigations-btn.active {
    color: #f4f4f4;
    background-color: var(--primal-color);
}

.active::before {
    border: 1px solid floralwhite;
}

.home-page::before {
    content: '';
    border-radius: 50%;
    background-image: url(../../img/svg/home.svg);
    background-position: 50% 50%;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    display: block;
    width: 32px;
    height: 32px;

}

.favorite-page::before {
    content: '';
    position: absolute;
    background-image: url(../../img/svg/favorit.svg);
    border-radius: 50%;
    background-position: 50% 50%;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    display: block;
    width: 32px;
    height: 32px;

}

.read-page::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    border-radius: 50%;
    background-image: url(../../img/svg/book.svg);
    background-position: 50% 50%;
    display: block;
    width: 32px;
    height: 32px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.custom-check {
    width: 40px;
    height: 20px;
    border: 1px solid var(--primal-color);
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.check {
    border-color: var(--white-backgtound-color);
    border: 1px solid #f4f4f4;
    background-color: var(--primal-color);
    transition: all 0.5s;
}

.custom-check::after {
    content: '';
    display: block;
    margin-top: 1px;
    margin-left: 1px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--primal-color);
    transition: all 0.5s;

}

.custom-check.check::after {
    margin-left: 21px;
    transition: all 0.5s;
    background-color: #f4f4f4;
}

.custom-check-psevdo {
    position: relative;
    display: flex;
    margin-top: 100px;


}

.custom-check-psevdo::after {
    -webkit-mask-image: url(../../img/svg/moon.svg);
    background-color: var(--moon-color);
    content: '';
    width: 19px;
    height: 19px;

}

.custom-check-psevdo::before {
    -webkit-mask-image: url(../../img/svg/sun.svg);
    background-color: var(--sun-color);
    content: '';
    width: 21px;
    height: 21px;
}



@media screen and (min-width: 768px) {
    .modal-container {
        display: none;
    }

    .custom-check-psevdo {
        font-size: 18px;
    }

    .custom-check {
        margin-left: 12px;
        margin-right: 12px;
    }

    .custom-check-psevdo::after {
        -webkit-mask-image: none;
        background-color: inherit;
        content: 'Dark';
        color: var(--moon-color);
        width: auto;
        height: auto;


    }

    .custom-check-psevdo::before {
        -webkit-mask-image: none;
        background-color: inherit;
        content: 'Light';
        color: var(--sun-color);
        width: auto;
        height: auto;
    }

}