.cell-news {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    max-height: 10000px;
    transition: max-height 4s;
}

.close {
    max-height: 34px;
    transition: max-height 1.2s;
}

.cell-news::after {
    content: '';
    width: 100%;
    height: 1px;
    display: block;
    background-color: #929292;
    position: absolute;
    top: 33px;
}

.cell-news.close::before {
    content: '';
    width: 15px;
    height: 9px;
    position: absolute;
    left: 92px;
    top: 6px;
    display: block;
    -webkit-mask-image: url(../../img/svg/arrow_down.svg);
    background-color: #A2A2A2;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-left: auto;
    transition: transform 0.5s, margin-top 0.5s;
    transform: rotate(360deg);
}

.cell-news::before {
    content: '';
    width: 15px;
    height: 9px;
    position: absolute;
    left: 92px;
    top: 6px;
    display: block;
    -webkit-mask-image: url(../../img/svg/arrow_down.svg);
    background-color: #A2A2A2;
    mask-size: contain;
    mask-repeat: no-repeat;
    margin-left: auto;
    transition: transform 0.5s, margin-top 0.5s;
    transform: rotate(180deg);
}

.news-in-cell {
    margin-top: 24px;
    display: flex;
}
