:root {
    --second-color: #A8A8A8;
    --text-color: #f4f4f4;
    --fill-btn: #f4f4f4f4;
    --backgtound-color: #2E2E2E;
    --dark-background-color: #2E2E2E;
    --white: #ffffff;
    --sun-color: #5F6775;
    --moon-color: #4440F6;
    --body: #2E2E2E;
    --border-form: #F4F4F4;
}