.js-close {
    display: none;
}

.logo {
    font-family: 'Manrope';
    color: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    z-index: 100;
}

header {
    display: flex;
    padding: 24px 0;
    align-items: center;
    justify-content: space-between;

}


nav {
    display: none;
    position: relative;
}

.link {
    text-decoration: none;
    color: var(--dark-text-color);
    display: inline-block;
    font-weight: 700;

}




.btn-submit {
    width: 15px;
    height: 15px;
    margin-right: 19px;
    -webkit-mask-image: url(../../img/svg/dandruff.svg);
    background-position: 50% 50%;
    background-size: cover;
    background-color: var(--text-color);
    transition: all 0.5s;
}

input {
    width: 98px;
}

.menu {
    width: 24px;
    height: 24px;
    overflow: hidden;
    position: relative;
    z-index: 100;
    transition: all 0.5s;
}

.menu::before {
    content: '';
    display: block;
    position: absolute;
    -webkit-mask-image: url(../../img/svg/menu.svg);
    background-color: var(--text-color);
    background-size: 24px;
    width: 24px;
    height: 24px;
    top: 0;
    transition: all 0.5s;
}

.menu.active-btn::before {
    top: 24px;
    background-size: 5px;
    transition: all 0.5s;
}

.menu::after {
    content: '';
    position: absolute;
    -webkit-mask-image: url(../../img/svg/x.svg);
    background-color: var(--text-color);
    top: -24px;
    display: block;
    width: 24px;
    height: 24px;
    transition: all 0.5s;

}

.menu.active-btn::after {
    top: 0;
    background-size: 24px;


}

.search-form {
    height: 31px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    margin-left: 142px;
    transition: all 0.5s;
}

.search-box {
    position: relative;
    overflow: hidden;
    width: 173px;
}

.searchOpen {
    margin-left: 0;
    border: 1px solid var(--border-form);

}

@media screen and (min-width: 768px) {
    nav {
        display: flex;
    }

    .link:not(:last-child) {
        margin-right: 44px;
    }

    .menu {
        display: none;
    }

    .container {
        width: 768px;
    }

    .search-form {
        border: 1px solid var(--border-form);
        margin-left: 0;
    }

    .search-box {
        width: 213px;
    }

    .js-close {
        display: flex
    }

    header {
        justify-content: start;
    }

    .logo {
        font-size: 32px;
        margin-right: 48px;
    }

    nav {
        margin-right: 32px;
    }

    nav::after {
        content: '';
        position: absolute;
        bottom: -8px;
        display: block;
        height: 1px;
        background-color: var(--primal-color);
        transition: all 0.5s;
    }

    nav:has(.active.home)::after {
        width: 56px;
        margin-left: -5px;
        transition: all 0.5s;
    }

    nav:has(.active.favorite)::after {
        width: 65px;
        margin-left: 88px;
        transition: all 0.5s;
    }

    nav:has(.active.read)::after {
        width: 45px;
        margin-left: 195px;
        transition: all 0.5s;
    }

    .search-box {
        margin-right: 24px;
    }

    .table {
        margin-top: 0;
    }

    .js-close {
        margin-top: 0;
    }


}

@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }

    .logo {
        font-size: 42px;
        margin-right: 102px;
    }

    header {
        align-items: baseline;
    }

    nav {
        font-size: 18px;
        margin-right: 147px;
    }

    .link:not(:last-child) {
        margin-right: 69px;
    }

    .search-box {
        margin-right: 147px;
        width: 288px;
    }

    nav:has(.active.home)::after {
        width: 60px;
        margin-left: -5px;
    }

    nav:has(.active.favorite)::after {
        width: 74px;
        margin-left: 117px;
    }

    nav:has(.active.read)::after {
        width: 50px;
        margin-left: 256px;
    }

}