/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

:root {
  --primal-color: #4440F6;
  --second-color: #A8A8A8;
  --text-color: #111321;
  --background-color: #f4f4f4;
  --white: #ffffff;
  --sun-color: #4440F6;
  --moon-color: #5F6775;
  --shevron-color: #f4f4f4;
  --body: #f4f4f4;
  --border-form: #111321;
  --background-categorise-button: none;
}

.darkTheme {
  --second-color: #A8A8A8;
  --text-color: #f4f4f4;
  --fill-btn: #f4f4f4f4;
  --background-color: #2E2E2E;
  --dark-background-color: #2E2E2E;
  --white: #ffffff;
  --sun-color: #5F6775;
  --moon-color: #4440F6;
  --body: #2E2E2E;
  --border-form: #F4F4F4;
  --background-categorise-button: #ffffff;
}




body {
  background-color: var(--background-color);
  transition: all 0.5s;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
path {
  fill: inherit;
  stroke: inherit;
}

aside,
footer,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}